<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.masjeed">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@drawable/roundicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/roundicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Masjeed">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="fullSensor"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:theme="@style/Theme.Masjeed.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <!-- Include the host attribute if you want your app to respond
                     only to URLs with your app's domain. -->
                <data android:scheme="https"/>
                <category android:name="android.intent.category.DEFAULT" />
                <!-- The BROWSABLE category is required to get links from web pages. -->
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <!--service
            android:name=".PrayingDayCalculateHandler"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.broadcasttest.MonitorService" />
            </intent-filter>
        </service-->
        <!--service
            android:name=".PrayerNotification"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.broadcasttest.MonitorService" />
            </intent-filter>
        </service-->
        <!--service
            android:name=".PrayingDayCalculateHandler"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.broadcasttest.MonitorService" />
            </intent-filter>
        </service-->

        <!--receiver
            android:name=".PrayerAlarm"
            android:enabled="true" /-->
        <!--receiver
            android:name=".AlarmReceiver"
            android:enabled="true" /-->
        <!--receiver
            android:name=".PrayingDayCalculateAlarm"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.mindtrack.muslimorganizer.calculatepraying" />
            </intent-filter>
        </receiver-->
        <!--receiver
            android:name=".StartUpBootReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver-->
        <!--receiver android:name=".RingingAlarm" /-->
        <!--receiver android:name=".SilentMoodAlarm" /-->
        <!--receiver
            android:name=".TimeChangedReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver-->

        <activity android:name=".activities.PrayerActivity">
        </activity>

        <receiver android:name=".receivers.PrayerBroadcastReceiver"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.DismissReceiver"
            android:exported="false"
            ></receiver>
        <receiver android:name=".receivers.SnoozeReceiver"
            android:exported="false"
            ></receiver>

        <service android:name=".services.PrayerService" />
        <service android:name=".services.PrayerAlarmService" />
        <service android:name=".services.ReschedulePrayerAlarmService" />
    </application>

</manifest>